/target
/.idea
/*.iml

/user-thrift-service-api/.idea
/user-thrift-service-api/*.iml
/user-thrift-service-api/target
/user-thrift-service-api/*.DS_Store

/user-thrift-service/.idea
/user-thrift-service/*.iml
/user-thrift-service/target
/user-thrift-service/*.DS_Store

/message-thrift-service-api/.idea
/message-thrift-service-api/*.iml
/message-thrift-service-api/target
/message-thrift-service-api/*.DS_Store

/message-thrift-python-service/.idea
/message-thrift-python-service/*.iml
/message-thrift-python-service/target
/message-thrift-python-service/*.DS_Store